article {
  border: 1px solid black;
  margin-bottom: 3em;
  margin-top: 3em;
  padding: 1.2em;
}

a {
  border: 1px solid green;
  padding: 3em;
}

#inline-block a {
  display: inline-block;
}

#block a {
  display: block;
}